<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form action="">
    <div style="border: solid 1px red; margin-left: 30%; margin-right: 30%;text-align: left; padding: 2%">
      <h3>Formulário:</h3>
      <p>Nome: {{ name }}</p>
      <p>Texto:</p>
      <p style="text-align: justify">{{ text }}</p>
    </div>
    <br>
    <label for="name">Digite seu nome: </label>
    <input id="name" name="name" type="text" [(ngModel)]="name">
    <br> <br>
    <label for="texto"></label>
    <textarea name="texto" id="texto" cols="40" rows="6" [(ngModel)]="text"></textarea>
    <br> <br>
    <button type="button" (click)="exibirAlerta()">Exibir Alerta</button>
    <button type="reset">Apagar</button>
    <br> <br>
    <button type="submit">Mandar</button>
  </form>
</div>

<router-outlet></router-outlet>
